// Helvetica Font Stack
$font-stack: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

$breakpoint: 1280px;

.resizable {
    resize: horizontal;
            overflow: hidden;
}

body {
    margin: 0;
    font-family: $font-stack;
    font-size: 14pt;
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;

    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;
    }

    #row-top {
        overflow-y: auto;

        height: 90%;
        div.container {
            width: 30%;
            text-align: center;
        }
    }

    #row-bottom {
        height: 10%;
    }

    overflow: hidden;
}

#chapter-tree {
    height: 100%;
    min-width: 10% !important;
    width: 10% !important;
    overflow-y: auto;
    .tree-entry {
        padding: 0.5rem 1rem;
        text-align: left;
        transition: all 125ms;
        outline: 1px solid white;
    }
    .tree-entry:hover {
        outline: 1px solid black;
        background-color: white;
        cursor: pointer;
    }
}

#video-container {
    grid-area: video;
    display: grid;
    place-items: center;
    background-color: white;
    padding: 0;

    width: 100%;

    video {
        width: 100%;
        height: auto;
    }
}

#slides {
    display: grid;
    place-items: center;
    background-color: white;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    iframe {
        height: 100%;
        width: 100%;
    }
}

#transcript {
    text-align: justify;
    font-size: 1.1em;
    padding: 0 0.5rem;
    height: 100%;
    overflow: auto;
    flex-grow: 1;

    .chapter + .chapter {
        margin-top: 1rem;
    }

    .chapter {
        outline: solid white 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 100%;
    }

    h2 {
        color: #444;
    }
}

#kapitel {
    width: 100%;

    display: grid;
    place-items: center;

    padding: 0.5rem;
    @media (max-width: $breakpoint) {
        padding: 0;
    }

    #kapitel-container {
        width: 100%;
        max-height: 100% !important;
        height: 100% !important;
    }

    #kapitel-title {
        margin: 0;
    }
}
